body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ff9900;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.user-actions {
    display: flex;
}

.login-btn, .signup-btn {
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #fff;
    color: #ff9900;
    border: 1px solid #ff9900;
    border-radius: 5px;
    text-decoration: none;
}

.login-btn:hover, .signup-btn:hover {
    background-color: #ff9900;
    color: #fff;
}

.featured-products {
    text-align: center;
    padding: 50px;
}

.product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color:aqua;
}

.product-card img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.product-info {
    text-align: left;
}

.price {
    font-size: 20px;
    color: #ff9900;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e68a00;
}

footer {
    background-color: #ff9900;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h4{
    color: #ff9900;
}
